um garoto com cabelos tã escuro como obsidiana olhos semelhantes sorriso neutro pele parda altura de 1.72cm pes de 19 cm de comprimento e 8 de lagura maos grandes com dedos de 8, 6 e cm de comprimento e 1,5 cm de lagura Object file
*.o

# Ada Library Information
*.ali
